video {
  opacity: 0;
  position: fixed;
}

.left {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
}

div {
  display: flex;
}

.right {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  right: 0;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.two {
  transform: rotateY(180deg);
}
