html {
  min-height: 100vh;
  border: 1em solid skyblue;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0 1rem;
  background: white;
  min-height: 100%;
}

p {
  display: block;
  max-width: 500px;
  line-height: 1.5;
  margin: 1rem auto 1rem;
  color: skyblue;
}
